.modal {
    @apply fixed w-11/12 max-w-md rounded-lg p-5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    @apply font-bold text-xl mb-5;
    color: black;
}

.titleContainer {
    @apply flex flex-row items-center justify-between;
}

.formContainer {
    & > label {
        @apply flex flex-col gap-2 text-line;

        & > input {
            @apply w-full h-16 border rounded-2xl text-base font-normal border-line indent-5 mb-10;  
        }

        .lastInput {
            @apply mb-0;
        }

        & > .errorMessage {
            @apply mb-3;
            color: #D7141A;
        }
    };
    .submitButton{
        @apply w-full p-3 font-semibold;
        border-radius: 20px;
        background: #000000;
        color: #ffffff;
    }


    .errorInput {
        border: 1px solid #D7141A;
    }
}
  