.mainContainer {
    @apply hidden sm:flex flex-row items-center w-screen content-center justify-between h-20
}
.menuContainer {
    @apply hidden 
        justify-end 
        w-3/5
        sm:flex sm:gap-2 sm:w-full
        md:gap-4 md:w-full md:mr-3
        lg:gap-2 lg:m-9
        xl:gap-10 xl:m-20
}

.logoContainer {
    @apply 
        w-1/5
        sm:w-20
        md:w-20
}

.logoutButton {
    @apply 
        text-xs 
        md:text-base
        lg:text-base
        xl:text-lg 
        2xl:text-xl
        md:px-1
        lg:px-1
        px-2
        cursor-pointer;
&:hover {
    text-decoration: underline;
    text-underline-offset: 15px;      
}
}