.inputContainer {
    @apply mt-12;
    color: #666666;
    &.smallerMargin {
        @apply mt-8;
    }

    .dataContainer {
        @apply w-80 lg:w-96 h-16 border rounded-2xl text-base font-normal border-line indent-5 flex flex-row items-center;
        background-color: #F7F7F8;
    }

    .button {
        @apply -mt-1.5 underline text-right;
        width: 100%;
    }
}

label {
    @apply flex flex-col gap-2;
}