.logoContainer {
    @apply 
        flex
        items-center
        gap-2.5
        lg:text-lg
        xl:text-2xl
        xl:font-bold
        2xl:text-4xl
}
.logoText {
    @apply
        sm:hidden 
        lg:block
        xl:block
    }