@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-navigation {
    border: 1px solid rgba(102, 102, 102, 0.4);
    & > div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        width: auto;
        height: 54px;
        font-size: 15px;
        margin-right: 20px;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 15px;      
        }
        cursor: pointer;
        &:first-child {
            margin-left: 20px;
        }

    }

    & > .active {
      font-weight: bold;
      text-decoration: underline;
      text-underline-offset: 15px;      
    }

    &::-webkit-scrollbar {
        height: 4px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #80797b;
        border-radius: 1px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: #afafbd;
        border-radius: 1px;
      }
    @apply flex sm:hidden flex-nowrap gap-5 container text-base overflow-x-auto;
}

.mobile-logout-button {
    white-space: nowrap;
    font-size: 15px;
    height: 54px;

    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 15px;        
    }
    cursor: pointer;
}